body{
    background-color: #dfdfdf;
}

p{
    color: #222222;
}


.foto{
    border: 2px solid #fff;
    border-radius: 50%;
    /* border-radius: 70% 10% 30% 70%; */
    /*border-width: 5px;
    border-style: solid;
    border-color: black;
    */
    width: 200px;
}