<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/register">Cadastro de Usuários</a>
    </li>
    <li>
        <a href="/list-users">Listagem de Usuários</a>
    </li>
</ul>