<header>
    <h1><%= h1 %> </h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
            <li>
                <a href="/listar">Listar Usuários</a>
            </li>
        </ul>
    </nav>
</header>