<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <%-include('partials/head.ejs') %> 
</head>
<body>
    <h1><%= title %></h1>
    <%-include('partials/nav.ejs') %> 

    <form action="/register/add" method="POST">
        <div>
            <label for="name">Nome</label>
            <input type="text" name="name" placeholder="Digite o seu nome">
        </div>
        <div>
            <label for="age">Idade</label>
            <input type="text" name="age" placeholder="Digite a sua idade">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" name="email" placeholder="Digite o seu e-mail">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="text" name="password" placeholder="Digite a sua senha">
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <%-include('partials/foot.ejs') %> 
</body>
</html>